<otb-section rowClasses="align-items-end vh-50 mb-5" bgImageUrl="assets/images/settings-background.jpg">
  <div class="row align-items-center position-relative">
    <div class="col-4 col-lg-3">
      <img class="me-3 avatar avatar-xl rounded" src="assets/images/settings-icon.png" alt="Settings page icon">
    </div>
    <div class="col">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h1 class="mb-0">Settings</h1>
        </div>
        <div class="col-md-4 text-end text-md-end">
          <button type="button" class="btn btn-rounded btn-ico bg-light" mdbTooltip="Save changes"><i class="fas fa-save fs-20"></i></button>
        </div>
      </div>
    </div>
  </div>
</otb-section>
