<footer class="separator-top">
  <div class="container py-5">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Legal Information</a>
          </li>
          <li class="nav-item">
            <a type="button" class="nav-link" (click)="openModal()">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 text-center">
        <a (click)="pageService.manualPageReload()" rel="home"><img class="navbar-logo navbar-logo-dark" src="assets/logos/OrionLogo_black.svg" alt="OI Logo"></a>
      </div>
      <div class="col-md-5 text-center text-md-end">
        <ul class="socials bordered">
          <li><a href="https://www.linkedin.com/company/orioninnovation/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://www.facebook.com/CurrentlyOrion/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/CurrentlyOrion" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCPx-zVFAtYJUCdLPoI_1e2Q" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
