<div class="container">
  <div class="row">
    <div class="col">
      <otb-hero></otb-hero>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-lg-none">
      <otb-fluid-section rowClasses="mb-5">
        <otb-most-liked-posts></otb-most-liked-posts>
      </otb-fluid-section>
    </div>
    <div class="col-12 col-lg-8">
      <otb-category-tabs></otb-category-tabs>
      <otb-tag-list></otb-tag-list>
      <otb-post-feed></otb-post-feed>
    </div>
    <div class="col-4 d-none d-lg-block">
      <otb-most-liked-posts></otb-most-liked-posts>
    </div>
  </div>
</div>
